:root {
}
body {
  font-family: "Roboto", sans-serif;
  background-color: hsl(30, 38%, 92%);
  color: hsl(228, 12%, 48%);
   display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;
}
img {
  display: block;
  min-width: 100%;
  height: auto;
}
h2 {
  text-transform: uppercase;
  color: hsl(30, 38%, 92%);
  letter-spacing: 0.1em;
  font-size: 16px;
}
.price {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  /* align-content: center; */
}
button {
  padding-top: 12px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  display: block;
  width: 80%;
  height: 50px;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn {
  text-align: center;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-content: center;
}
button:hover {
  background-color: hsl(158, 42%, 18%);
}
.add-btn {
}
